.icon_tip {
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.tip p {
  font-size: 18px;
  color: #bdc3c7;
  font-style: italic;
}
.tip span {
  font-size: 24px;
  padding: 0.3rem;
}
.container h1,
.container h3,
.container h4,
.container h5 {
  margin-bottom: 0px !important;
}
.cards {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.card .card-text h4 {
  color: #bdc3c7 !important;
  text-shadow: -2px -2px 5px rgba(189, 195, 199, 1);
}
h3 span {
  color: #bdc3c7 !important;
}
footer {
  padding: 1rem;
}
.providers {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.providers a:link,
.providers a:visited {
  color: #bdc3c7;
  font-weight: 700;
  text-decoration: none;
}
.card {
  overflow: hidden;
}
.sunrise {
  position: absolute;
  right: 0%;
  animation: rise 5s linear infinite;
}
.sunset {
  position: absolute;
  right: 0%;
  animation: set 5s linear infinite;
}
.time {
  position: absolute;
  right: 10%;
  animation: time 36s linear infinite;
}
.description {
  display: flex;
  justify-content: space-around;
}
@keyframes rise {
  0% {
    top: 100%;
  }
  100% {
    top: -50%;
  }
}
@keyframes set {
  0% {
    top: -50%;
  }
  100% {
    top: 100%;
  }
}
@keyframes time {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 576px) {
  body {
    background-image: linear-gradient(
      to left,
      #1e3c72 0%,
      #1e3c72 1%,
      #2a5298 100%
    );
    overflow: visible;
  }
  .wrapper .container {
    z-index: 2;
  }
  .container {
    padding: 0 !important;
  }
  .wrpper {
    padding: 0 !important;
  }
  footer {
    height: 40vh;
    background: black;
    padding: 0 !important;
  }
  footer h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  .providers {
    display: flex;
    flex-direction: column;
  }
  .card-deck {
    background-image: linear-gradient(
      to left,
      #1e3c72 0%,
      #1e3c72 1%,
      #2a5298 100%
    );
    z-index: 3;
  }
  .col-12 {
    padding: 0 !important;
    width: 100vw;
  }
  .cards {
    background-image: linear-gradient(
      to left,
      #1e3c72 0%,
      #1e3c72 1%,
      #2a5298 100%
    );
  }
  .display-1 {
    font-size: 3rem !important;
  }
  .tip p {
    font-size: 12px;
  }
  .cards h1 {
    font-size: 24px;
  }
  .cards h3 {
    font-size: 18px;
  }
  .cards h4 {
    font-size: 15px;
  }
  h3 span {
    font-size: 14px;
    margin: 4px;
    display: flex;
    flex-direction: column;
  }
  h5 p,
  .providers {
    font-size: 18px;
    width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {
  .display-1 {
    font-size: 3rem !important;
  }
  .tip p {
    font-size: 12px;
  }
  .cards h1 {
    font-size: 24px;
  }
  .cards h3 {
    font-size: 18px;
  }
  .cards h4 {
    font-size: 15px;
  }
  h3 span {
    font-size: 14px;
    margin: 2px;
    display: flex;
    flex-direction: column;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width: 986px) {
  .display-1 {
    font-size: 4rem !important;
  }
  .tip p {
    font-size: 16px;
  }
  .cards h1 {
    font-size: 28px;
  }
  .cards h3 {
    font-size: 22px;
  }
  .cards h4 {
    font-size: 19px;
  }
  h3 span {
    font-size: 18px;
    margin: 2px;
    display: flex;
    flex-direction: column;
  }
}
